body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 200px auto 200px;
  grid-template-areas: "hd hd"
                       "sidebar main"
                       "footer footer";
}

header {
  grid-area: hd;
}

li {
  display: inline;
}

#nav {
  text-align: right;
  grid-area: hd;
}

aside {
  background: #fa923f;
  grid-area: sidebar;
}

main {
  grid-area: main;
  
}

.hero {
  background: url('../images/pexels-pixabay-262713.jpg') center;
  background-size: cover;
}

footer {
  grid-area: footer;
}


