body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 3fr 1fr;
  /*height: 200vh;*/
  grid-gap: 1rem;
  grid-template-areas: "hd hd nav"
                       "main main main"
                       "intro intro intro"
                       "footer footer footer";

}

header {
  grid-area: hd;
}

li {
  display: inline;
}

#nav {
  text-align: right;
  grid-area: hd;
}

#intro {
  /* background: #fa923f; */
  grid-area: intro;
}

main {
  grid-area: main;
  
}

.hero {
  background: url('../images/pexels-pixabay-262713.jpg') center;
  background-size: cover;
}
/*
#img1 {
  grid-area: img1;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#img2 {
  grid-area: img2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#img3 {
  grid-area: img3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
*/
footer {
  grid-area: footer;
}


