.item-a {
    grid-area: nav;
}
  .item-b {
    grid-area: header;
}
  .item-c {
    grid-area: main; 
}
  .item-d {
    grid-area: sidebar;
}
  .item-e {
    grid-area: footer;
}
  
.container {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: auto;
    grid-template-areas: 
      "nav nav nav nav"
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
}
#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/pexels-pixabay-262713.jpg') no-repeat center center;
  }

